/* This is a nav css */
.top-header {
  margin-top: 1em;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .licon{
  display: inline-block;
  width: 125px;
}
.micon{
  display: inline-block;
} */
.ricon{
  display: inline-block;
}
.icon{
  height: 3rem;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}
#input1{
  height: 3rem;
  margin: 0px;
  padding: 0px;
}
#input2{
  height: 3rem;
  margin: 0px;
  padding: 0px;
}
.btn{
  height: 3rem;
  margin: 0px;
  padding: 0px;
}
.bot-header {
    margin-top: 1em;
    background-color: #0f0f0f;
    color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    padding: 0px;
    font-family:"acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    color:#191919;
    line-height: 16px;
  
  }
.opt{
  background-color: white;
  color: black;
  list-style: none;
}
.link {
  text-decoration: none;
  color: white;
}
#support{
  text-decoration: none;
}
#icon3 {
  color: #55b142;
  text-decoration: none;
}

 /* This is a footer css ; */
.r1{
  height: 250px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0px;
  background-color: #55b142;
  margin-left: 0px !important;
}
.head1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}
#input3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25rem;
    border-radius: 1em;
    border: none;
}
#btn2{
  width: 8rem;
  border-radius: 1em;
  background-color: #55b142;
}

.r2 {
  height: 288px;
  display: flex;
  align-content: flex-end;
  justify-content: center;
  margin: 0px;
}
.col{
  /* background-color: #9BD98E; */
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0px;
}
.brand{
  margin-top: 2.5rem;
  margin-left: 0.6rem;
}
.head{
  margin-top: 3rem;
}
.list{
  padding-left: 0px;
  line-height: 2.5rem;
}
.link1{
  text-decoration: none;
  color: black;
}
.navli{
  list-style: none;
}
.icon1 {
  height: 2rem;
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
}
.icon2 {
  height: 3rem;
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}


/* This is a  Home css */
.col1{
  background-color: white;
  /* border: 2px solid red; */
  color:black;
  /* text-align: ceneter; */
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
 
}
#head2{
  font-size: 4rem;
  font-weight: 600;
}
#btn3 {
  background-color: #55b142;
  color: white;
  border-radius: 3rem;
  width: 10rem;
}

/* This is a About css */
.icon4{
  width: 200px;
  height: 200px;
  background-color: #55b142;
  border-radius: 50%;
}