.brand {
  text-decoration: none;

}

.top-header {
  margin-top: 1em;
  margin-left: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.wp-icon{
  width: 30px;
  height: 30px; 
  margin-left: 5px;
  margin-right: 5px;
}
.licon{
  display: inline-block;
  width: 95px;
}
.micon{
  display: inline-block;
}
.ricon{
  display: inline-block;
}

#icon1 {
  border-radius: 30px;
  color: #45b624;
  padding: 5px;
  font-size: 10px;
  margin-right: 5px;
  margin-left: -2em;
}
#icon2{
  border-radius: 30px;
  color: #45b624;
  padding: 8px;
  font-size: 12px;
  margin-right: 5px;
  margin-left: -2em;
}
.icons {
  border-radius: 30px;
  background-color: #45b624;
  padding: 5px;
  color: white;
}

#icon3 {
  color: #9BD98E ;
  text-decoration: none;
}

#btn1{
  /* background-color: #9BD98E; */
  background-color:  #45b624;
  color: white;
  border-color: grey;
}

#n1 {
font-family:"acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif";
font-weight: 400;
font-style: normal;
font-size: 2.2em;
color: #45b624;
line-height: 16px;

}
#n2 {
  font-family:"acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif";
  font-weight: 400;
  font-style: normal;
  font-size: 2.2em;
  color:#191919;
  line-height: 16px;
  
  }
  #n3{
    font-family:"acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    color:#191919;
    line-height: 16px;
    margin-left: 5em;
    margin-top: -1em;
    color: #45b624;
  }

  .bot-header {
    margin-top: 1em;
    background-color: #0f0f0f;
    color: white;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1rem;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    padding: 0px;
    font-family:"acumin-pro, Acumin Pro, Helvetica Neue, Helvetica, Arial, sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    color:#191919;
    line-height: 16px;
  
  }
  .link {
    text-decoration: none;
    color: white;
  }
  #support{
    text-decoration: none;
  }
  .opt{
    background-color:  #45b624;
    color: white;
    list-style: none;
  }

  #col1{
background-color: #9BD98E;

  }
  #col2{
    background-color: yellow;
  }
  #col3{
    background-color: rgb(128, 238, 152);
  }
  #cn1{
    margin-top: 30px;
  }
  .row{
    height: 500px;
  }